plugins/mil.jpeojtrs.sca.dpd/model/dpd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://sca.jpeojtrs.mil/dpd" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="" ecore:package="mil.jpeojtrs.sca.dpd" targetNamespace="http://sca.jpeojtrs.mil/dpd">
  <xsd:annotation>
    <xsd:documentation>DEVICE PACKAGE DESCRIPTOR.
The SCA Device Package Descriptor (DPD) is the part of a Device Profile that contains
hardware device Registration attributes, which are typically used by a Human Computer
Interface application to display information about the device(s) resident in an SCA-compliant
radio system. DPD information is intended to provide hardware configuration and revision
information to a radio operator or to radio maintenance personnel. A DPD may be used to
describe a single hardware element residing in a radio or it may be used to describe the complete
hardware structure of a radio. In either case, the description of the hardware structure should be
consistent with hardware partitioning as described in the Hardware Architecture Definition in
section 4.0 of the SCA.</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="author" type="author"/>
  <xsd:element name="childhwdevice" type="childhwdevice"/>
  <xsd:element name="class" type="xsd:string"/>
  <xsd:element name="company" type="xsd:string"/>
  <xsd:element name="description" type="xsd:string"/>
  <xsd:element name="deviceclass" type="deviceclass"/>
  <xsd:element name="devicepkg" type="devicepkg"/>
  <xsd:element name="devicepkgref" type="devicepkgref"/>
  <xsd:element name="hwdeviceregistration" type="hwdeviceregistration"/>
  <xsd:element name="localfile" type="localfile"/>
  <xsd:element name="manufacturer" type="xsd:string"/>
  <xsd:element name="modelnumber" type="xsd:string"/>
  <xsd:element name="name" type="xsd:string"/>
  <xsd:element name="propertyfile" type="propertyfile"/>
  <xsd:element name="title" type="xsd:string"/>
  <xsd:element name="webpage" type="xsd:anyURI"/>
  <xsd:complexType ecore:name="Author" name="author">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" ref="name"/>
      <xsd:element minOccurs="0" ref="company"/>
      <xsd:element minOccurs="0" ref="webpage"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ChildHwDevice" name="childhwdevice">
    <xsd:annotation>
      <xsd:documentation>The childhwdevice element (see Figure D-10) indicates additional device-specific information
for hardware devices that make up the root or parent hardware device registration. An example
of childhwdevice would be a radio's RF module that has receiver and exciter functions within it.
In this case, a CF Device representing the RF module itself would be a parent Device with its
DPD, and the receiver and exciter are child devices to the module. The parent / child
relationship indicates that when the RF module is removed from the system, the receiver and
exciter devices are also removed.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="hwDeviceRegistration" minOccurs="0" ref="hwdeviceregistration">
        <xsd:annotation>
          <xsd:documentation>The hwdeviceregistration element provides device-specific information for the child hardware
device. See D.3.1.4 for definition of the hwdeviceregistration element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ecore:name="devicePkgRef" minOccurs="0" ref="devicepkgref">
        <xsd:annotation>
          <xsd:documentation>The devicepkgref element is used to indicate the local filename of a Device Package Descriptor
file pointed to by Device Package Descriptor (e.g., a devicepkg within a devicepkg).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="DeviceClass" name="deviceclass">
    <xsd:annotation>
      <xsd:documentation>The deviceclass element is used to identify one or more hardware classes that make up the device
being installed (e.g., RF, Modem, I/O, as defined in SCA section 4.2.2 HWModule(s) Class
Structure).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" ref="class"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="DevicePkg" name="devicepkg">
    <xsd:annotation>
      <xsd:documentation>DEVICE PACKAGE 
The SCA Device Package Descriptor (DPD) is the part of a Device Profile that contains
hardware device Registration attributes, which are typically used by a Human Computer
Interface application to display information about the device(s) resident in an SCA-compliant
radio system. DPD information is intended to provide hardware configuration and revision
information to a radio operator or to radio maintenance personnel. A DPD may be used to
describe a single hardware element residing in a radio or it may be used to describe the complete
hardware structure of a radio. In either case, the description of the hardware structure should be
consistent with hardware partitioning as described in the Hardware Architecture Definition in
section 4.0 of the SCA.

The devicepkg element (see Figure D-8) is the root element of the DPD.
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="title">
        <xsd:annotation>
          <xsd:documentation>The title element is used for indicating a title for the hardware device being described by
devicepkg.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" ref="author">
        <xsd:annotation>
          <xsd:documentation>See D.2.1.3 for a definition of the author element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="description">
        <xsd:annotation>
          <xsd:documentation>The description element is used to describe any pertinent information about the device
implementation that the hardware developer wishes to document within the Device Package.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ecore:name="hwDeviceRegistration" ref="hwdeviceregistration">
        <xsd:annotation>
          <xsd:documentation>The hwdeviceregistration element (see Figure D-9) provides device-specific information for a
hardware device.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The devicepkg id
attribute uniquely identifies the package and is a DCE UUID, as defined in paragraph D.2.1.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name
attribute is a user-friendly label for the devicepkg.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="version" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The
version attribute specifies the version of the devicepkg.

The format of the version string is
numerical major and minor version numbers separated by commas (e.g., \"1,0,0,0\").</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="DevicePkgRef" name="devicepkgref">
    <xsd:sequence>
      <xsd:element ecore:name="localFile" ref="localfile"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="HwDeviceRegistration" name="hwdeviceregistration">
    <xsd:annotation>
      <xsd:documentation>
At a minimum, the hwdeviceregistration
element must include a description, the manufacturer, the model number and the device's
hardware class(es) (Refer to SCA section 4, Hardware Architecture Definition).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="propertyFile" minOccurs="0" ref="propertyfile">
        <xsd:annotation>
          <xsd:documentation>The propertyfile element is used to indicate the local filename of the property file associated with
the hwdeviceregistration element. The format of a property file is described in the Properties
Descriptor (Section D.4).

The intent of the property file is to provide the definition of properties elements for the hardware
device being deployed and described in the Device Package (devicepkg) or hwdeviceregistration
element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="description">
        <xsd:annotation>
          <xsd:documentation>See D.2.1.4 for definition of the description element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="manufacturer">
        <xsd:annotation>
          <xsd:documentation>The manufacturer element is used to convey the name of manufacturer of the device being
installed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ecore:name="modelNumber" ref="modelnumber">
        <xsd:annotation>
          <xsd:documentation>The modelnumber element is used to indicate the manufacture's model number, for the device
being installed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ecore:name="deviceClass" ref="deviceclass"/>
      <xsd:element ecore:name="childHwDevice" maxOccurs="unbounded" minOccurs="0" ref="childhwdevice"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The hwdeviceregistration id attribute uniquely identifies the device and is a
DCE UUID, as defined in paragraph D.2.1.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name attribute is a userfriendlylabel
for the hardware device being registered.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="version" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The version attribute specifies the version of the
hwdeviceregistration element. The format of the version string is numerical major and minor
version numbers separated by commas (e.g., \"1,0,0,0\").</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="LocalFile" name="localfile">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="PropertyFile" name="propertyfile">
    <xsd:sequence>
      <xsd:element ecore:name="localFile" ref="localfile"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>
