plugins/mil.jpeojtrs.sca.prf/model/prf.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:prf="http://sca.jpeojtrs.mil/prf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:documentRoot="PrfDocumentRoot" ecore:nsPrefix="prf" ecore:package="mil.jpeojtrs.sca.prf" targetNamespace="http://sca.jpeojtrs.mil/prf">
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd"/>
  <xsd:element name="properties" type="prf:properties"/>
  <xsd:simpleType name="AccessType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="writeonly"/>
      <xsd:enumeration value="readonly"/>
      <xsd:enumeration value="readwrite"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="Action" name="action">
    <xsd:attribute default="external" name="type" type="prf:ActionType"/>
  </xsd:complexType>
  <xsd:simpleType name="ActionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ge"/>
      <xsd:enumeration value="gt"/>
      <xsd:enumeration value="external"/>
      <xsd:enumeration value="le"/>
      <xsd:enumeration value="lt"/>
      <xsd:enumeration value="ne"/>
      <xsd:enumeration value="eq"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="ConfigurationKind" name="configurationkind">
    <xsd:attribute default="configure" ecore:name="type" name="kindtype" type="prf:StructPropertyConfigurationType"/>
  </xsd:complexType>
  <xsd:simpleType name="DceUUID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="DCE:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}(:\d+(.\d+)?)?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="Enumeration" name="enumeration">
    <xsd:attribute name="label" type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="Enumerations" name="enumerations">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="enumeration" type="prf:enumeration"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InputValue" name="inputvalue">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="simple" type="prf:simple"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Kind" name="kind">
    <xsd:attribute default="configure" ecore:name="type" name="kindtype" type="prf:PropertyConfigurationType"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="Properties" name="properties">
    <xsd:annotation>
      <xsd:documentation>The properties element (see Figure D-11) is used to describe property attributes that will be used
in the configure( ) and query( ) operations for SCA CF Resource components and for definition
of attributes used for dependency checking. The properties element can also used in the CF
TestableObject runTest() operation to configure tests and provide test results.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The description element is used to provide a description of the properties element that is being
defined.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice ecore:featureMap="properties" maxOccurs="unbounded">
        <xsd:element ecore:upperBound="-1" minOccurs="0" name="simple" type="prf:simple"/>
        <xsd:element ecore:name="simpleSequence" ecore:upperBound="-1" minOccurs="0" name="simplesequence" type="prf:simplesequence"/>
        <xsd:element ecore:upperBound="-1" minOccurs="0" name="test" type="prf:test"/>
        <xsd:element ecore:upperBound="-1" minOccurs="0" name="struct" type="prf:struct"/>
        <xsd:element ecore:name="structSequence" ecore:upperBound="-1" minOccurs="0" name="structsequence" type="prf:structsequence"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PropertyConfigurationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="configure"/>
      <xsd:enumeration value="execparam"/>
      <xsd:enumeration value="allocation"/>
      <xsd:enumeration value="factoryparam"/>
      <xsd:enumeration value="test"/>
      <xsd:enumeration value="event"/>
      <xsd:enumeration value="message"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PropertyValueType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="string"/>
      <xsd:enumeration value="boolean"/>
      <xsd:enumeration value="ulong"/>
      <xsd:enumeration value="objref"/>
      <xsd:enumeration value="short"/>
      <xsd:enumeration value="float"/>
      <xsd:enumeration value="octet"/>
      <xsd:enumeration value="char"/>
      <xsd:enumeration value="ushort"/>
      <xsd:enumeration value="double"/>
      <xsd:enumeration value="long"/>
      <xsd:enumeration value="longlong"/>
      <xsd:enumeration value="ulonglong"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="Range" name="range">
    <xsd:attribute name="max" type="ecore:EString" use="required"/>
    <xsd:attribute name="min" type="ecore:EString" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResultValue" name="resultvalue">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="simple" type="prf:simple"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" ecore:name="AbstractProperty" name="abstractproperty">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The description element is used to provide a description of the properties element that is being
defined.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute ecore:id="true" name="id" type="xsd:string" use="required"/>
    <xsd:attribute default="readwrite" name="mode" type="prf:AccessType"/>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="Simple" name="simple">
    <xsd:annotation>
      <xsd:documentation>The simple element (see Figure D-12) provides for the definition of a property which includes a
unique id, type, name and mode attributes of the property that will be used in the CF Resource
configure() and query() operations, for indication of component capabilities, or in the CF
TestableObject runTest operation. The simple element is specifically designed to support idvalue
pair definitions. A simple property id attribute corresponds to the id of the id-value pair.
The value and range of a simple property correspond to the value of the id-value pair. If no
value is given, then the property cannot be used for input test values for testing and/or as an
initial configuration or execute parameter of a component. The optional enumerations element
allows for the definition of a label-to-value for a particular property. The mode attribute defines
whether the properties element is "readonly", "writeonly" or "readwrite". The id attribute is an
identifier for the simple property element. The id attribute for a simple property that is an
allocation type is a DCE UUID value, as specified in section D.2.1. The id attribute for all other
simple property elements can be any valid XML ID type. The mode attribute is only meaningful
when the type of the kind element is "configure".</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="prf:abstractproperty">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="value" type="xsd:string"/>
          <xsd:element minOccurs="0" name="units" type="prf:Unit"/>
          <xsd:element minOccurs="0" name="range" type="prf:range"/>
          <xsd:element minOccurs="0" name="enumerations" type="prf:enumerations"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="kind" type="prf:kind"/>
          <xsd:element minOccurs="0" name="action" type="prf:action"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="prf:PropertyValueType" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="SimpleRef" name="simpleref">
    <xsd:attribute ecore:name="refID" name="refid" type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="SimpleSequence" name="simplesequence">
    <xsd:complexContent>
      <xsd:extension base="prf:abstractproperty">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="values" type="prf:values"/>
          <xsd:element minOccurs="0" name="units" type="prf:Unit"/>
          <xsd:element minOccurs="0" name="range" type="prf:range"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="kind" type="prf:kind"/>
          <xsd:element minOccurs="0" name="action" type="prf:action"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="prf:PropertyValueType" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="Struct" name="struct">
    <xsd:complexContent>
      <xsd:extension base="prf:abstractproperty">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="simple" type="prf:simple"/>
          <xsd:element ecore:name="configurationKind" ecore:unsettable="true" minOccurs="0" name="configurationkind" type="prf:configurationkind"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="StructPropertyConfigurationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="configure"/>
      <xsd:enumeration value="factoryparam"/>
      <xsd:enumeration value="allocation"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="StructSequence" name="structsequence">
    <xsd:complexContent>
      <xsd:extension base="prf:abstractproperty">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" name="struct" type="prf:struct"/>
          <xsd:element maxOccurs="unbounded" ecore:name="structValue" minOccurs="0" name="structvalue" type="prf:structvalue"/>
          <xsd:element ecore:unsettable="true" ecore:name="configurationKind" minOccurs="0" name="configurationkind" type="prf:configurationkind"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="StructValue" name="structvalue">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" ecore:name="simpleRef" name="simpleref" type="prf:simpleref"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Test" name="test">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" ecore:name="inputValue" name="inputvalue" type="prf:inputvalue"/>
      <xsd:element ecore:name="resultValue" name="resultvalue" type="prf:resultvalue"/>
    </xsd:sequence>
    <xsd:attribute ecore:id="true" name="id" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="Unit">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType ecore:name="Values" name="values">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="value" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType ecore:instanceClass="java.lang.Character" name="CharacterObject">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>
